body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* height: 100%; */
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    background-image: url('../public/bgImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.home-header {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
}

.home-header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.home-header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #333;
}

.card:hover h3 {
    color: #0056b3;
}

.card:hover p {
    color: #333;
}

