/* Main Container */
.optimization-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  height: 100vh;
  overflow-y: auto;
  width: 50vw;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .optimization-div {
      width: 95vw;
      padding: 15px;
      margin-top: 120px;
  }
}

/* Optimized Text */
.optimized-text {
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(135deg, #e55728, #0b3a0d);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

.optimized-text:hover {
  transform: scale(1.03);
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7), 0px 0px 25px rgba(199, 247, 26, 0.6);
}

@media (max-width: 768px) {
  .optimized-text {
      font-size: 0.9em;
      letter-spacing: 0px;
  }
}

.options{
  width: 100%;
  display: flex;
}

.current-optimization{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: rgb(82, 82, 82);
  cursor: pointer;
  border-right: 1px solid rgb(179, 178, 178);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.previous-optimization{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 550;
  color: rgb(82, 82, 82);
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.active-optimization{
  background: linear-gradient(90deg, #eaeaea, #fcf7f7);
}

/* Form Styling */
.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* max-height: calc(100vh - 100px); */
  /* overflow-y: auto; */
  /* margin-top: 1.5em; */
}

@media (max-width: 768px) {
  .form {
      padding: 10px;
      margin-top: 1em;
  }
}

/* Input Wrapper Styling with Slightly Different Background */
.input-wrapper {
  background-color: #f0f0f0; /* Slightly different background color */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .input-wrapper {
      padding: 8px;
      margin-bottom: 8px;
  }
}

/* Flexbox for label and input fields side by side */
.form label,
.form input,
.form select {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}

.form label {
  width: 120px;
  font-size: 0.95em;
  color: #444;
  font-weight: 500;
  margin-right: 10px;
}

.form input[type="text"],
.form input[type="number"],
.form select {
  width: calc(100% - 130px);
  padding: 10px;
  font-size: 0.95em;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.form input:focus,
.form select:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0px 0px 5px rgba(74, 144, 226, 0.5);
}

/* Product Container */
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 15px;
  border-top: 2px solid #eee;
  margin-top: 15px;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .product-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
}

/* Product Details */

.product-heading-div{
  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.product-details {
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
}

.product-details.active {
  animation: rotate-border 5s linear infinite;
  border: 2px solid transparent;
}

@media (max-width: 768px) {
  .product-details {
      padding: 8px;
  }
}

@keyframes rotate-border {
  0% {
    border-color: #ff6b6b;
  }
  25% {
    border-color: #f9a825;
  }
  50% {
    border-color: #00bcd4;
  }
  75% {
    border-color: #1d671f;
  }
  100% {
    border-color: #58200d;
  }
}

.product-details.active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

/* Thin and Light-Colored Scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* Thin scrollbar */
  height: 8px; /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;  /* Light gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;  /* Slightly darker on hover */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;  /* Light background for the track */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .optimized-text {
      text-align: center;
  }
}


.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* Optimize Inventory Button */
.submit button {
  background-color: #fe8134;  /* Gradient color similar to optimized-text */
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit button:hover {
  background-color: #ff6a00;  /* Darker shade to match the gradient theme */
  transform: scale(1.03);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.submit button:focus {
  outline: none;
  border: 2px solid #4a90e2;
  box-shadow: 0px 0px 5px rgba(74, 144, 226, 0.5);
}


/* CSS FOR THE RESULT OF OPTIMAL INVENTORY */

.optimized-data{
  margin-top: 1.5rem;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.maximum-profit-line{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: green;
  padding-bottom: 1rem;
}

.optimal-inventory-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.optimal-inventory-heading{
  font-size: 1.3rem;
  color: #e96411;
  font-weight: 600;
  margin-bottom: 1rem;
}

.optimal-inventory-div li{
  list-style-type: none;
}

.optimal-inventory-save{
  color: white;
  font-weight: 600;
  font-size: 1rem; 
  /* width: 20%; */
  margin-top: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 5%;
  border-color: transparent;
  background-color: #3eb331;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.optimal-inventory-save:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.charts {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background: linear-gradient(135deg, #f9f9f9, #eaeaea);
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  align-self: center;
  max-width: 800px;
}

.charts h3 {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.chart {
  /* margin: 2rem auto; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.chart h4 {
  font-size: 1.4rem;
  color: #555;
  text-align: center;
  margin-bottom: 1rem;
}

.chart canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .charts {
    max-width: 600px; /* Restricts width to maintain vertical alignment */
  }
}



/* CSS for the second section */

.previous-optimizations{
  justify-content: center;
  width: 100%;
}

.history-list {
  list-style-type: none;
  padding: 0;
}

.history-item {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.history-item:hover {
  background-color: #e0e0e0;
}

.forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.forecast-details-internal-div{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.forecast-details h3 {
  margin-bottom: 1rem;
}

.forecaste-details h4{
  margin-bottom: 1rem;
}

.chart-prev{
  width: 50%;
  margin-top: 1rem;
}

.no-optimizations{
  justify-self: center;
}
